.classColor{
    color: rgb(47, 12, 172);
}
.classStyle{
    font-style: italic;
}
.classSize{
    font-size: 20px;
}

.boldClass{
    font-weight:bold;
}
.italicClass{
    font-style:italic;
}
.colorClass{
    color:red;
}