<p>attribute-binding works!</p>
<table border="2">
    <thead>
        <tr>
            <th colspan="6">
                {{pageHeader}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Branch</td>
            <td>Mobile</td>
            <td>Gender</td>
            <td>Age</td>
        </tr>
        <tr>
            <td>{{FirstName}}</td>
            <td>{{LastName}}</td>
            <td>{{Branch}}</td>
            <td>{{Mobile}}</td>
            <td>{{Gender}}</td>
            <td>{{Age}}</td>
        </tr>
        <tr>
            <!-- <td colspan="6">{{pageFooter}}</td> -->
            <td [attr.colspan]="2"> {{pageFooter}}</td>
            <td bind-attr.colspan="2">{{pageFooter}}</td>
            <td attr.colspan ="{{2}}">{{pageFooter}}</td>
        </tr>
    </tbody>
</table>